.paymentInnerCont {

  overflow-x: hidden;
}

.paymentInner {
  margin-top: calc(56px + 1rem);
}

.progressCont2 {
  width: 100%;
  display: flex;
  gap: 0;
  flex-direction: column;
  margin-bottom: 1rem;

  .mat-divider {
    margin: .5rem auto !important;
  }

}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 20dvh;
  width: 100%;

  img {
    width: 35%;
    height: 35%;
  }
}
