.paymentInnerCont {

  overflow-x: hidden;
}

.paymentInner {
  margin-top: calc(56px + 1rem);
}

.progressCont2 {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 1rem;
}
