<section class="paymentInnerCont">

  <app-sub-toolbar [title]="'Información de pago'"/>

  @if (contract().financial.provider == eProvider.DynamiCore) {

    <section class="paymentInner">
      <mat-card class="globalCard progressCont2">
        <h2>
          Información
        </h2>

        <mat-divider/>

        <div class="rowCard">
          <h4 class="annotation">Referencia actual</h4>
          <h4><strong>{{ client().reference }}</strong></h4>
        </div>

        <mat-divider/>

        <div class="rowCard">
          <h4 class="annotation">Cuenta CLABE</h4>
          <h4><strong>{{ contract().financial.clabe }}</strong></h4>
        </div>

      </mat-card>

      <mat-card class="globalCard">
        <div class="rowCard">
          <h4 class="annotation">Balance</h4>
          <h4><strong>{{ paymentDynamic()?.amount }} MXN</strong></h4>
        </div>

        <mat-divider/>

        <div class="rowCard">
          <div class="amountCOnt">
            <h4 class="annotation">Cantidad</h4>
            @if (paymentDynamic()?.debit! > 0) {
              <p class="annotation">Débito</p>
            } @else if (paymentDynamic()?.credit! > 0) {
              <p class="annotation">Crédito</p>
            }
            <p></p>
          </div>
          <h4><strong>{{ contract().financial.weeklyPayment }} MXN</strong></h4>
        </div>

        <mat-divider/>

        <div class="rowCard">
          <h4 class="annotation">Moneda</h4>
          <h4><strong>MXN</strong></h4>
        </div>

        <mat-divider/>

        <div class="rowCard">
          <h4 class="annotation">Fecha</h4>
          <h4><strong>{{ GetDateTimeDynamic() | titlecase }}</strong></h4>
        </div>

        <mat-divider/>

        <div class="rowCard">
          <h4 class="annotation">Operación</h4>
          <h4><strong>{{ paymentDynamic()?.name }}</strong></h4>
        </div>

      </mat-card>

    </section>

  } @else if (contract().financial.provider == eProvider.Conekta && paymentConekta()) {

    <section class="paymentInner">
      <mat-card class="globalCard progressCont2">
        <h2>
          Información
        </h2>

        <mat-divider/>

        @if (GetNameOrder() != '') {

          <div class="rowCard">
            <h4 class="annotation">Nombre</h4>
            <h4><strong>{{ GetNameOrder() | titlecase }}</strong></h4>
          </div>

          <mat-divider/>
        }

        <div class="rowCard">
          <h4 class="annotation">Referencia/Orden actual</h4>
          <h4><strong>{{ client().reference }}</strong></h4>
        </div>

      </mat-card>

      <mat-card class="globalCard">
        <div class="rowCard">
          <h4 class="annotation">Monto</h4>
          <h4><strong>$ {{ paymentConekta()?.amount! / 100 }} {{ paymentConekta()?.currency }}</strong></h4>
        </div>

        <mat-divider/>

        <div class="rowCard">
          <h4 class="annotation">Moneda</h4>
          <h4><strong>{{ paymentConekta()?.currency }}</strong></h4>
        </div>

        <mat-divider/>

        <div class="rowCard">
          <h4 class="annotation">Fecha</h4>
          <h4><strong>{{ GetDateTimeConekta() | titlecase }}</strong></h4>
        </div>

        @if (GetServiceConekta() != '') {
          <mat-divider/>

          <div class="rowCard">
            <h4 class="annotation">Servicio</h4>
            <h4><strong>{{ GetServiceConekta() }}</strong></h4>
          </div>
        }

        <mat-divider/>

        <div class="rowCard">
          <h4 class="annotation">Fecha</h4>

          @if (paymentConekta()?.payment_status == 'pending_payment') {
            <h4 class="statusBox dynamicPending">Pago pendiente</h4>
          } @else {
            <h4 class="statusBox dynamicActive">Pagado</h4>
          }
        </div>

      </mat-card>

    </section>

  }

</section>
