<main class="minHeight minHeightToolbar">

  <mat-card class="globalCard cardReference">

    <h4 class="resumeReferences">Haz tu pago de ${{ contract().financial.weeklyPayment }} MXN a la siguiente cuenta</h4>

    <div>
      <h2 (click)="copyClipboard()" class="refCode">{{ client().reference }}</h2>
      <p class="resumeReferences">Toca el número de referencia para copiarla</p>
    </div>

    @if (barcode() != undefined) {
      <div class="codeBarConekta">
        <img [src]="barcode()" alt="">
      </div>
    }

    <h4 class="resumeReferences">Fecha del siguiente pago</h4>
    <h4 class="resumeReferences txtReferences">{{ nextPayment | titlecase }}</h4>

    <mat-divider/>
    <h2>OxxoPay</h2>
    <mat-divider/>

    <h3 class="subTitles">¿Tienes problemas con la referencia de pago?</h3>
    <button (click)="initCreateReference()" class="buttonRef" mat-button><h3>Crear referencia</h3></button>

  </mat-card>

  <div class="mt015 pb010">
    <h4>Debe entregar el código de referencia al agente de Oxxo para realizar el pago.</h4>

    <ul>
      <li><h4>Indique que el código corresponde a un número de referencia OxxoPay</h4></li>
    </ul>

    <h4>Por favor realice su pago antes de las 5:00 p.m. CST del día de la fecha de pago correspondiente para asegurarse
      de que su equipo permanezca desbloqueado.</h4>
    <h4>Contactenos si tiene dudas o preguntas</h4>
  </div>

</main>
