
.headerHome {
  padding-top: 2.5rem !important;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;

  .mat-icon {
    color: var(--error) !important;
  }
}

.homeTitle {
  text-align: center;
  font-size: 24px !important;
  color: var(--primary) !important;
}

.welcomeLabel {
  width: 100%;
  font-size: 14px !important;
  text-align: center !important;
}

.progressCont {
  width: 100%;
  height: 200px;
  position: relative;
}

.progressTrack {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;

  ::ng-deep circle {
    stroke: rgba(255, 43, 110, 0.15) !important;
  }
}

.progressMain {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;

  ::ng-deep circle {
    stroke: rgba(255, 43, 110, 1) !important;
  }
}

.progressHome {
  color: var(--primary) !important;
}

.progressCont2 {
  width: 100%;
  display: flex;
  gap: .25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ssa {
  margin: 0 auto;
}

.progressCont3 {
  gap: 1rem !important;
  padding-bottom: 1rem !important;
}

.progressPays {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  gap: 0.1rem;
  color: var(--primary) !important;

  p {
    font-size: 13px !important;
    margin-left: .25rem !important;
  }
}

.homeNotsPays {
  margin-top: .5rem !important;
}

/*::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {*/
/*  stroke: #2d3456 !important;*/
/*}*/
