<mat-nav-list #matNavList class="bottomSheetCont">

  <div class="lineBottomSheet"></div>
  <h3>¿Olvidaste tu contraseña?</h3>

  <p>Para ingresar a tu cuenta, utiliza las siguientes credenciales:</p>

  <div class="forData">
    <ul>
      <li>
        <h3><strong>Email</strong>
          <span>El correo electrónico que registraste durante la compra (en minúsculas)</span></h3>
      </li>
      <li>
        <h3><strong>Contraseña</strong> <span>Tu CURP (en mayúsculas)</span></h3>
      </li>
    </ul>
  </div>


  <h3>¿No recuerdas el correo con el que te registraste?</h3>
  <p>
    Contáctanos al <strong>+52 8135414648</strong> o escríbenos a <strong>{{ email }}</strong>.</p>

  <!--  <p class="dataSheet">+52 8135414648</p>-->
  <!--  <p>o enviamos un correo a</p>-->
  <!--  <p class="dataSheet">{{ email }}</p>-->

  <div class="actionCont">
    <button (click)="closeBottomSheetRef()" mat-flat-button>Entendido</button>
  </div>

</mat-nav-list>
