::ng-deep .mat-bottom-sheet-container {
  border-radius: 1.5rem 1.5rem 0 0 !important;
  width: 96vw !important;
  min-width: 96vw !important;
  margin-left: auto !important;
}

.lineBottomSheet {
  width: 2rem !important;
  height: .25rem;
  margin: 0 auto 1.5rem auto !important;
  border-radius: 10rem;
  background-color: #505050 !important;
}

p {
  color: #6a6a6a !important;
  font-size: 14px !important;
}

h3, .dataSheet {
  color: var(--colorBW) !important;
  margin: 1rem auto !important;
  font-size: 14px !important;
}

ul {
  padding-inline-start: 16px !important

}

li {

  h3 {
    width: 100%;
    text-align: left !important;

    span {
      padding-left: .5rem !important;
      font-size: 14px !important;
    }
  }
}

.forData {
  display: flex;
  justify-content: flex-start;
}

.actionCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto .5rem auto !important;
}

@media (min-width: 800px) {
  ::ng-deep .mat-bottom-sheet-container {
    width: 30vw !important;
    min-width: 30vw !important;
  }
}
